.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.calibre2 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: list-item
    }
.calibre4 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre5 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre6 {
    font-style: italic
    }
.summary-content {
    display: block
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

