.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.calibre2 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: list-item
    }
.calibre4 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre5 {
    background-color: #f4f4f4;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #ccc;
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 4px;
    border-right-color: #ccc;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #ccc;
    border-top-style: solid;
    border-top-width: 1px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px
    }
.calibre6 {
    cursor: pointer;
    font-weight: bold
    }
.calibre7 {
    color: #555;
    display: block;
    font-style: italic;
    margin-top: 8px
    }
.calibre8 {
    display: block
    }
.calibre9 {
    display: block;
    margin-bottom: 0.8em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre10 {
    color: #444;
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em
    }
.calibre11 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre12 {
    font-style: italic
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

